name: AWS ML Pipeline CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  build-train-deploy:
    runs-on: ubuntu-latest

    steps:
    # 1. Setup Environment
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt

    # 2. Continuous Integration (Test & Train)
    - name: Run Pipeline Tests
      run: python -m pytest tests/test_pipeline.py

    - name: Train Model
      run: python main.py
      # This generates 'best_hotel_booking_model.joblib' in the root directory

    - name: Run API Tests
      # We assume app.py loads the model file we just generated
      run: python -m pytest tests/test_api.py

    # 3. Configure AWS
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    # 4. Build & Push to AWS ECR
    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: hotel-booking-api
        IMAGE_TAG: latest
      run: |
        # Build the docker image (It copies the .joblib generated in step 2)
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG .
        
        # Push to AWS
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG
